/*  main */

body {
  margin: 0;
  font-family: "Arial" sans-serif;
}

.main {
  position: relative;
}

.main img.background {
  width: 100%;
}

.main .header {
  position: absolute;
  display: flex;
  top: 10px;
  left: 20%;
  width: 60%;
  justify-content: space-between;
}

.main .header img {
  width: 35px;
}

.main .header ul {
  display: flex;
}

.main .header li {
  list-style: none;
  padding-left: 25px;
  font-style: italic;
}

.main .header li a {
  color: #fff;
}

.main .text-mountain {
  position: absolute;
  top: 100px;
  width: 40%;
  left: 30%;
  z-index: 1;
}

.main .mountain-left {
  position: absolute;
  left: 0;
  width: 53%;
  bottom: 0;
  z-index: 2;
}

.main .mountain-right {
  position: absolute;
  right: 0;
  width: 53%;
  bottom: 0;
  z-index: 3;
}

/* Divider */

.middle {
  position: relative;
  height: 80px;
}

.middle .divider {
  position: absolute;
  display: flex;
  width: 70%;
  justify-content: space-between;
  left: 20%;
}

.divider img {
  width: 83.46px;
}

.divider ul {
  display: flex;
}

.divider li {
  list-style: none;
  padding-left: 25px;
  font-style: italic;
}

.divider a {
  color: #464b57;
}

@media only screen and (min-width: 400px) {
  .divider li {
    padding-left: 10px;
  }
}
/* History *********************/
.history {
  width: 100%;
  position: relative;
  height: 100vh;
  background-image: url("img/background2.png");
  background-attachment: fixed;
  background-size: cover;
}

.history .text {
  position: absolute;
  top: 5%;
  left: 15%;
}

.text p {
  font-family: sans-serif;
  display: flex;
  font-size: 100px;
  color: #707070;
  position: absolute;
  top: 6%;
}

.history .heading p {
  position: absolute;
  color: #41516b;
  top: 15%;
  left: 23%;
  font-size: 50px;
}

.history .lorem {
  position: absolute;
  top: 30%;
  left: 15%;
}

.history .filter {
  position: absolute;
  background-color: rgba(57, 69, 93, 0.7);
  height: 12%;
  width: 100%;
  bottom: 0px;
}

.filter .hiking {
  position: absolute;
  display: flex;
  left: 30%;
  top: 10px;
}

.hiking img {
  padding-left: 10px;
}

.history .filter .dots {
  position: absolute;
  left: 45%;
  padding: 13px;
}

.dots p {
  font-size: 30px;
  color: #fff;
}

.dots span {
  font-size: 50px;
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .history .text {
    left: 10%;
    font: 120px sans-serif;
  }
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .history .heading p {
    font-size: 30px;
    left: 35%;
    top: 18%;
  }
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .filter .hiking {
    left: 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .hiking img {
    width: 22%;
  }
}

/* climb *****/
.text-climb {
  position: relative;
  width: 100%;
  height: 200px;
}

.text-climb .two {
  position: absolute;
  left: 15%;
  top: -20px;
}

.two p {
  font-family: sans-serif;
  position: absolute;
  display: flex;
  font-size: 100px;
  color: #707070;
}

.text-climb .heading-climb p {
  position: absolute;
  color: #41516b;
  top: 25%;
  left: 23%;
  font-size: 50px;
}

.text-climb .imsum {
  position: absolute;
  left: 35%;
  top: 40%;
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .text-climb .two {
    left: 5%;
  }
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .text-climb .two p {
    font-size: 70px;
  }
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .text-climb .heading-climb p {
    top: 20%;
    font-size: 30px;
  }
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .text-climb .imsum {
    left: 45%;
    top: 18%;
  }
}

/* navbar *****/
.navbar {
  position: relative;
  background-color: #414f6a;
  width: 100%;
  height: 40px;
}

.navbar .link1 {
  margin-left: 20%;
  display: flex;
}

.link1 a {
  color: #424e67;
  background-color: #b0b4bf;
  margin-top: 15px;
}

.link1 a.two-mountain {
  padding-left: 70px;
  background-color: #414f6a;
  color: #b0b4bf;
}
/* schedule **************/
.schedule {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("img/background3.png");
  background-size: cover;
  background-attachment: fixed;
}

.schedule .table {
  position: absolute;
  top: 25%;
  left: 15%;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  background-color: #b0b4bf;
}

.table th {
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px;
  font-size: 30px;
}

.table td {
  font-family: sans-serif;
  font-weight: lighter;
  padding: 5px;
}

/******** Footer *******/

.footer {
  width: 100%;
  height: 70px;
  background-color: #414f6a;
}

.footer .footer-nav {
  display: flex;
  position: relative;
  left: 10%;
  top: 20%;
  width: 75%;
  justify-content: space-between;
}

.footer-nav img {
  width: 120px;
}

.footer-nav p {
  color: #617193;
  font-style: italic;
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .footer-nav img {
    width: 60px;
  }
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .footer-nav p {
    width: 50%;
    font-size: 8px;
  }
}
